._*
.env
.fslckout
run.sh
.DS_Store
key.json
data/
skins/*
bots/*/*
gen_profiles/*
tts_output/*
.vscode/
.idea/
node_modules/
code_records/
scratch.js
bots/**/action-code/**
bots/**/
services/viaproxy/jars/**
services/viaproxy/logs/**
services/viaproxy/plugins/**
services/viaproxy/ViaLoader/**
services/viaproxy/saves.json
services/viaproxy/viaproxy.yml
tmp/
wandb/
experiments/
tools/
archive/